In [20]:
import numpy as np
import pandas as pd
import tensorflow as tf
from datetime import datetime,timedelta

In [2]:
pd.set_option("max_columns", 100)

In [3]:
def fecha_MDA(value):
    date=[]
    for i in value:
#         print(i)
        try:
            date.append(datetime.strptime(str(i), "%Y-%d-%m %H:%M:%S").strftime('%d-%m-%Y'))
        except:
            date.append(i.replace('/','-'))
#         print(type(date[-1]),date[-1])
    return date

In [4]:
def Upload_Dicc(name):
    with open(name,'r') as archivo:
        separador,dicc = '\t',{}
        for linea in archivo:
            key, value = linea.split(separador)
            dicc[key.strip()] = value.strip()
    return dicc

#

In [5]:
Data=pd.read_excel('Base De Datos Humedad PLC.xlsx')
# Data['Date']=fecha_MDA(Data['Date'])
# Data['Time']=Data['Time'].astype(str)
# Data.insert(0,'Date_Time',pd.to_datetime(Data['Date']+'-'+Data['Time'],format='%m-%d-%Y-%H:%M:%S'))
# Data=Data.drop(columns=['Date','Time'])
Data.head()

,Date,Time,Millitm,{[SUPREMA]MIC_202.Val_PV},{[SUPREMA]MIC_202.Val_SP},{[SUPREMA]MIC_203.Val_PV},{[SUPREMA]MIC_203.Val_SP},{[SUPREMA]MIC_302.Val_PV},{[SUPREMA]MIC_302.Val_SP},{[SUPREMA]MIC_304.Val_PV},{[SUPREMA]MIC_304.Val_SP},{[SUPREMA]TE_121.VALOR},{[SUPREMA]TE_302.VALOR},{[SUPREMA]TE_305A.VALOR},{[SUPREMA]TE_401.VALOR},{[SUPREMA]TIC_121.OSet_SP},{[SUPREMA]TIC_201.Val_PV},{[SUPREMA]TIC_201.Val_SP},{[SUPREMA]TIC_202.Val_PV},{[SUPREMA]TIC_202.Val_SP},{[SUPREMA]TIC_203.Val_PV},{[SUPREMA]TIC_203.Val_SP},{[SUPREMA]TIC_302.OSet_SP},{[SUPREMA]TIC_305.Val_PV},{[SUPREMA]TIC_305.Val_SP},{[SUPREMA]TIC_305A.OSet_SP},{[SUPREMA]TIC_401.OSet_SP}
0,2022-02-02 00:00:00,23:30:59,124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,79.988220,71.718750,32.242035,31,64.366730,64.5,73.771606,74.5,76.527435,77.5,77.0,77.503128,77.199997,77.531250,31
1,2022-02-02 00:00:00,23:31:59,125,90.931252,89.699997,83.087502,86.0,69.606255,69.699997,77.006248,77.0,30,78.658386,72.187500,33.027115,31,64.736267,64.5,75.854492,74.5,77.440704,77.5,77.0,77.681252,77.199997,77.653130,31
2,2022-02-02 00:00:00,23:32:59,126,90.706253,89.699997,82.700005,86.0,69.731255,69.699997,77.012505,77.0,30,79.811981,72.590630,33.491760,31,61.988647,64.5,72.441772,74.5,76.831848,77.5,77.0,77.868752,77.199997,77.906250,31
3,2022-02-02 00:00:00,23:33:59,127,91.206253,89.699997,82.849998,86.0,68.962502,69.699997,77.087502,77.0,31,80.020264,72.975006,33.667999,31,64.366730,64.5,74.524658,74.5,77.248444,77.5,77.0,78.028130,77.199997,78.046875,31
4,2022-02-02 00:00:00,23:34:59,128,88.568748,89.699997,81.681252,86.0,69.724998,69.699997,77.106255,77.0,31,77.408661,72.337502,33.924362,31,63.659729,64.5,75.373840,74.5,77.440704,77.5,77.0,77.709381,77.199997,77.681252,31

In [6]:
Data.shape

(41667, 27)

In [7]:
Dicc_est=Upload_Dicc('Diccionario Estaciones.txt')
Dicc_deltat=Upload_Dicc('Diccionario Deltat.txt')

In [8]:
Data_filter=(Data
             .rename(columns=Dicc_est)
             .filter(regex=(r'\A\w{2}\W?\w{3}|\A\w{4,7}'))
             .drop(index=0)
             .reset_index(drop=True)
            )
Data_filter.head()

,Date,Time,Millitm,ME-202,ME-203,ME-302,ME-304,TE-302,TE-201,TE-202,TE-203
0,2022-02-02 00:00:00,23:31:59,125,90.931252,83.087502,69.606255,77.006248,78.658386,64.736267,75.854492,77.440704
1,2022-02-02 00:00:00,23:32:59,126,90.706253,82.700005,69.731255,77.012505,79.811981,61.988647,72.441772,76.831848
2,2022-02-02 00:00:00,23:33:59,127,91.206253,82.849998,68.962502,77.087502,80.020264,64.366730,74.524658,77.248444
3,2022-02-02 00:00:00,23:34:59,128,88.568748,81.681252,69.724998,77.106255,77.408661,63.659729,75.373840,77.440704
4,2022-02-02 00:00:00,23:35:59,129,89.193748,83.256248,69.337502,76.856255,80.693207,62.727783,72.425751,76.303131

In [9]:
Data_filter.shape

(41666, 11)

In [11]:
time_ini,time_end,TE_201,ME_202,TE_202,ME_203,TE_203,TE_302,ME_302,ME_304=[],[],[],[],[],[],[],[],[],[]
rango=[TE_201,ME_202,TE_202,ME_203,TE_203,TE_302,ME_302,ME_304]
apuntador=0
# for i in range(1000):
for i in Data_filter.index:
    try:
        time_ini.append(Data_filter.loc[i,'Date'])
        time_end.append(Data_filter.loc[i,'Time'])
        for j,k in enumerate(Dicc_deltat.keys()):
            apuntador=i+int(Dicc_deltat[k])
#             print(j,k,apuntador)
            rango[j].append(Data_filter.loc[apuntador,k])
    except:
        break;
time_ini.pop(-1)
time_end.pop(-1)

datetime.time(6, 35, 43)

In [12]:
for i in range(len(rango)-1):
    rango[i].pop(-1)
#     print(len(rango[i]))

In [16]:
Data_Final=pd.DataFrame({'Date':time_ini,'Time':time_end,'TE-201':TE_201,'ME-202':ME_202,'TE-202':TE_202,'ME-203':ME_203,'TE-203':TE_203,
                         'TE-302':TE_302,'ME-302':ME_302,'ME-304':ME_304})
Data_Final=Data_Final.set_index(['Date','Time'])

In [17]:
Data_Final.tail()

                        TE-201     ME-202     TE-202     ME-203     TE-203  \
Date       Time
03/31/2022 06:30:43  63.691864  92.262505  74.460571  84.006248  77.200378
           06:31:43  63.000946  93.118752  72.842316  83.275002  78.273865
           06:32:43  64.366730  88.337502  74.845093  83.131248  76.944000
           06:33:43  62.422485  92.587502  73.835693  82.806252  78.658386
           06:34:43  64.013214  89.856255  72.986511  82.568748  76.992065

                        TE-302     ME-302     ME-304
Date       Time
03/31/2022 06:30:43  78.402039  68.425003  76.781250
           06:31:43  80.661163  68.500000  76.775002
           06:32:43  77.937378  68.618752  76.787498
           06:33:43  80.933533  68.318748  76.793755
           06:34:43  78.850647  68.693748  76.800003

In [15]:
Data_Final.shape

(41463, 10)

In [19]:
# Data_Final.to_excel('sfsdsdd.xlsx')

In [21]:
def preprocess(BD):
    data = list(tf.constant(BD, dtype="float32"))  
    return tf.data.Dataset.from_tensor_slices(data).map(lambda seq: (tf.reshape(seq[:-1], (-1, 1)), seq[-1])).batch(64, drop_remainder=True)

In [26]:
dataset1 = preprocess( Data_Final[['TE-201', 'ME-202', 'TE-202', 'ME-203', 'TE-203', 'TE-302','ME-302','ME-304']].values)

In [27]:
dataset1

In [31]:
for X, y in dataset1.take(1):
    print("X")
    print(X)
    print("y")
    print(y)

X
tf.Tensor(
[[[64.73627 ]
  [90.81875 ]
  [75.43793 ]
  [82.20625 ]
  [77.40866 ]
  [77.32855 ]
  [69.71875 ]]

 [[61.988647]
  [90.65625 ]
  [72.553925]
  [81.95625 ]
  [76.96002 ]
  [79.68381 ]
  [69.168755]]

 [[64.36673 ]
  [90.387505]
  [75.24567 ]
  [81.81875 ]
  [76.86389 ]
  [77.05618 ]
  [69.33125 ]]

 [[63.65973 ]
  [88.78125 ]
  [74.46057 ]
  [82.8375  ]
  [77.60092 ]
  [79.58768 ]
  [69.05    ]]

 [[62.727783]
  [88.78125 ]
  [72.5379  ]
  [82.86875 ]
  [76.39926 ]
  [77.536835]
  [68.90625 ]]

 [[64.89697 ]
  [90.525   ]
  [75.30975 ]
  [83.44375 ]
  [77.84125 ]
  [80.6131  ]
  [69.4875  ]]

 [[64.591675]
  [88.5375  ]
  [72.98651 ]
  [81.5625  ]
  [76.09485 ]
  [78.86667 ]
  [69.3125  ]]

 [[62.56711 ]
  [89.2125  ]
  [74.44455 ]
  [83.106255]
  [77.56888 ]
  [78.369995]
  [69.725   ]]

 [[64.51132 ]
  [89.7125  ]
  [75.966644]
  [82.856255]
  [76.11087 ]
  [80.2446  ]
  [69.24375 ]]

 [[62.743835]
  [89.981255]
  [72.07327 ]
  [82.3     ]
  [77.31253 ]
  [77.632965]
  [69.450005]]

 [[64.09357 ]
  [89.1625  ]
  [74.89316 ]
  [83.19375 ]
  [76.75174 ]
  [80.75729 ]
  [69.543755]]

 [[64.41492 ]
  [87.94375 ]
  [74.15616 ]
  [82.5625  ]
  [77.360596]
  [77.85727 ]
  [69.30625 ]]

 [[62.7117  ]
  [89.725   ]
  [73.194824]
  [82.95625 ]
  [76.062805]
  [79.9722  ]
  [69.84375 ]]

 [[64.06143 ]
  [93.26875 ]
  [75.1976  ]
  [83.24375 ]
  [77.31253 ]
  [79.15509 ]
  [69.225   ]]

 [[62.58316 ]
  [88.93125 ]
  [73.14676 ]
  [83.6875  ]
  [76.944   ]
  [76.944   ]
  [69.5625  ]]

 [[63.772217]
  [90.40625 ]
  [73.83569 ]
  [83.275   ]
  [77.04016 ]
  [79.63574 ]
  [69.49375 ]]

 [[64.51132 ]
  [87.8125  ]
  [75.63019 ]
  [82.88125 ]
  [77.02411 ]
  [77.68103 ]
  [69.65625 ]]

 [[62.13327 ]
  [89.425   ]
  [71.97711 ]
  [82.1625  ]
  [76.607544]
  [80.82138 ]
  [69.7875  ]]

 [[64.463135]
  [89.2875  ]
  [75.24567 ]
  [82.11875 ]
  [77.47275 ]
  [79.73187 ]
  [69.418755]]

 [[63.017   ]
  [91.225   ]
  [74.764984]
  [82.875   ]
  [76.38324 ]
  [77.04016 ]
  [69.85    ]]

 [[63.99716 ]
  [89.775   ]
  [72.826294]
  [82.55    ]
  [77.440704]
  [79.58768 ]
  [69.09375 ]]

 [[64.17389 ]
  [89.68125 ]
  [75.870514]
  [82.606255]
  [76.158936]
  [77.74512 ]
  [69.450005]]

 [[62.75992 ]
  [90.1875  ]
  [72.553925]
  [83.200005]
  [77.809204]
  [80.18051 ]
  [69.      ]]

 [[64.96124 ]
  [91.293755]
  [73.947845]
  [82.275   ]
  [76.31915 ]
  [78.30591 ]
  [69.30625 ]]

 [[63.627594]
  [89.1875  ]
  [75.64621 ]
  [82.9625  ]
  [77.2164  ]
  [79.52359 ]
  [69.356255]]

 [[63.08127 ]
  [88.09375 ]
  [72.77823 ]
  [82.7375  ]
  [76.719696]
  [79.49155 ]
  [69.475   ]]

 [[65.041565]
  [90.625   ]
  [73.64343 ]
  [83.7375  ]
  [76.527435]
  [76.81583 ]
  [69.81875 ]]

 [[62.56711 ]
  [89.3375  ]
  [75.43793 ]
  [83.1875  ]
  [78.04956 ]
  [80.16449 ]
  [69.606255]]

 [[64.1257  ]
  [90.450005]
  [72.826294]
  [82.74375 ]
  [75.99869 ]
  [78.12967 ]
  [69.8     ]]

 [[64.31851 ]
  [92.825005]
  [74.06003 ]
  [83.71875 ]
  [77.168335]
  [80.13245 ]
  [69.15625 ]]

 [[62.470703]
  [91.36875 ]
  [75.61417 ]
  [82.6875  ]
  [76.63959 ]
  [79.63574 ]
  [69.6625  ]]

 [[64.784485]
  [91.9125  ]
  [72.61801 ]
  [83.14375 ]
  [77.42468 ]
  [77.68103 ]
  [69.825005]]

 [[64.334595]
  [88.13125 ]
  [74.44455 ]
  [83.8125  ]
  [77.12027 ]
  [79.15509 ]
  [70.1625  ]]

 [[62.45462 ]
  [90.825005]
  [75.11749 ]
  [83.8625  ]
  [77.39264 ]
  [77.13629 ]
  [69.44375 ]]

 [[64.75235 ]
  [87.012505]
  [72.650055]
  [82.625   ]
  [76.76776 ]
  [79.55563 ]
  [69.56875 ]]

 [[62.486755]
  [89.7125  ]
  [74.82907 ]
  [83.481255]
  [77.10425 ]
  [77.56888 ]
  [69.325005]]

 [[63.948944]
  [92.450005]
  [75.18158 ]
  [82.4875  ]
  [76.335175]
  [81.1098  ]
  [69.45625 ]]

 [[64.94516 ]
  [87.4375  ]
  [72.6821  ]
  [82.825005]
  [77.20038 ]
  [78.30591 ]
  [69.481255]]

 [[62.56711 ]
  [89.675   ]
  [75.37384 ]
  [82.11875 ]
  [77.39264 ]
  [79.2352  ]
  [69.45625 ]]

 [[64.15784 ]
  [90.925   ]
  [74.36444 ]
  [80.86875 ]
  [76.895935]
  [78.89871 ]
  [69.700005]]

 [[64.38278 ]
  [88.99375 ]
  [73.114716]
  [81.950005]
  [77.79318 ]
  [79.107025]
  [69.8     ]]

 [[62.358215]
  [91.18125 ]
  [75.91858 ]
  [82.01875 ]
  [77.00809 ]
  [79.63574 ]
  [70.262505]]

 [[64.57559 ]
  [88.418755]
  [72.50586 ]
  [81.68125 ]
  [77.31253 ]
  [78.28989 ]
  [69.875   ]]

 [[63.306244]
  [88.950005]
  [74.764984]
  [82.96875 ]
  [76.59152 ]
  [80.22858 ]
  [69.6     ]]

 [[63.22589 ]
  [89.9625  ]
  [75.16556 ]
  [83.1     ]
  [77.52081 ]
  [78.273865]
  [68.9625  ]]

 [[64.18997 ]
  [89.68125 ]
  [72.32962 ]
  [82.8125  ]
  [76.12689 ]
  [79.379395]
  [69.275   ]]

 [[62.45462 ]
  [91.49375 ]
  [75.26169 ]
  [84.85    ]
  [77.60092 ]
  [77.5849  ]
  [69.2875  ]]

 [[64.75235 ]
  [87.94375 ]
  [73.563324]
  [83.33125 ]
  [76.38324 ]
  [79.87607 ]
  [69.356255]]

 [[62.808136]
  [88.8125  ]
  [73.96387 ]
  [83.3625  ]
  [76.91196 ]
  [78.04956 ]
  [69.7375  ]]

 [[63.707916]
  [90.09375 ]
  [75.502014]
  [83.00625 ]
  [77.344574]
  [80.54901 ]
  [69.4125  ]]

 [[64.92911 ]
  [91.606255]
  [72.44177 ]
  [82.975   ]
  [76.81583 ]
  [78.30591 ]
  [69.69375 ]]

 [[62.036865]
  [91.94375 ]
  [74.52466 ]
  [82.8625  ]
  [77.39264 ]
  [80.13245 ]
  [69.4625  ]]

 [[64.141754]
  [89.88125 ]
  [74.47659 ]
  [83.11875 ]
  [76.719696]
  [79.26724 ]
  [69.731255]]

 [[64.60773 ]
  [89.59375 ]
  [73.24289 ]
  [82.56875 ]
  [77.20038 ]
  [77.168335]
  [69.51875 ]]

 [[62.69565 ]
  [87.94375 ]
  [75.77438 ]
  [81.8125  ]
  [75.99869 ]
  [78.914734]
  [69.375   ]]

 [[64.49527 ]
  [89.63125 ]
  [74.1882  ]
  [82.106255]
  [77.66501 ]
  [77.264465]
  [70.      ]]

 [[62.84027 ]
  [91.15    ]
  [73.03461 ]
  [82.68125 ]
  [76.87991 ]
  [79.79596 ]
  [69.45625 ]]

 [[63.836487]
  [90.025   ]
  [74.84509 ]
  [82.84375 ]
  [76.83185 ]
  [77.072205]
  [69.731255]]

 [[64.06143 ]
  [89.8625  ]
  [74.71692 ]
  [82.793755]
  [76.84787 ]
  [79.940155]
  [69.425   ]]

 [[62.88846 ]
  [90.65    ]
  [72.826294]
  [83.525   ]
  [76.895935]
  [78.193756]
  [69.4375  ]]

 [[64.44705 ]
  [91.1125  ]
  [75.72632 ]
  [83.725   ]
  [77.168335]
  [79.475525]
  [69.71875 ]]

 [[62.229675]
  [88.15    ]
  [72.81027 ]
  [83.275   ]
  [76.607544]
  [78.25784 ]
  [69.425   ]]

 [[63.98108 ]
  [88.725   ]
  [73.78763 ]
  [84.200005]
  [77.168335]
  [79.091   ]
  [69.85    ]]

 [[65.491486]
  [89.5375  ]
  [75.58212 ]
  [82.3625  ]
  [76.84787 ]
  [79.667786]
  [69.637505]]], shape=(64, 7, 1), dtype=float32)
y
tf.Tensor(
[77.475    77.4125   77.625    77.49375  77.525    77.55     77.43125
 77.106255 76.975    76.887505 76.975    77.0375   77.1625   77.225
 77.275    77.125    76.96875  76.84375  76.86875  76.86875  76.99375
 77.05     77.168755 77.24375  77.26875  77.14375  76.99375  76.9
 76.96875  76.981255 77.1125   77.1125   77.13125  77.15625  77.14375
 76.9375   76.86875  76.8375   76.93125  77.06875  77.0625   77.1625
 77.2375   77.31875  77.21875  77.00625  76.9625   76.975    77.05625
 76.99375  77.1125   77.18125  77.25625  76.981255 76.63125  76.75
 76.887505 76.95625  77.1      77.2125   77.19375  77.2125   77.0375
 76.875   ], shape=(64,), dtype=float32)